@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Haddock Lobo, 595<br />
    São Paulo - SP, 01310-300<br />
    <abbr title="Telefone">Tel:</abbr>
    (11) 2384-0732
</address>

