@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    <p class="lead">Solutions for any kind of IT infrastructure, services, applications, resources</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Distributed Monitoring</h2>
        <p>
            Have remote branch offices, data centers or client sites that should be monitored, 
            but you want to keep connection and open port count as low as possible? 
            No problem, distributed monitoring will handle that.
        </p>
        @*<p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>High Availability</h2>
        <p>A primordial resource for services and enterprise applications is High Availability, 
        so all components of FishScale are immune to network and communication by using an 
        efficient data buffer control.</p>
        @*<p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Strong Security</h2>
        <p>With encryption support it is possible to secure communications between separate FishScale components (such as FishScale server, proxies, agents and command-line utilities) using Transport Layer Security (TLS) protocol v.1.2. Certificate-based and pre-shared key-based encryption is supported. Encryption is optional and configurable for individual components.</p>
        @*<p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>*@
    </div>
</div>