@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image:url(https://news.rambler.ru/img/2018/01/12170008.900459.3111.jpeg);">
    <h1></h1
    <p class="lead">Soluções para qualquer tipo de infraestrutura de TI, serviços, aplicativos, recursos</p>
    <p><a href="https://fishscale.azurewebsites.net/" class="btn btn-danger btn-lg" >Explore a Plataforma &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Monitoramento Distribuído</h2>
        <p>
            Sua empresa tem filiais, centros de dados ou sites de clientes remotos que devem ser monitorados, 
            mas você deseja manter a conexão e a contagem de portas abertas o mais baixo possível? 
            Não há problema, o monitoramento distribuído vai lidar com isso.
        </p>
        @*<p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Alta Disponibilidade</h2>
        <p>
            Um recurso primordial para serviços e aplicativos corporativos é a Alta Disponibilidade, 
            portanto, todos os componentes do FishScale são imunes à rede e à comunicação, 
            usando um controle de buffer de dados eficiente.
        </p>
        @*<p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Segurança</h2>
        <p>
            Com o suporte à criptografia, é possível proteger as comunicações entre componentes FishScale separados (como servidor FishScale, 
            proxies, agentes e utilitários de linha de comando) usando o protocolo TLS (Transport Layer Security) v.1.2. 
            Criptografia baseada em certificado e baseada em chave pré-compartilhada é suportada. 
            A criptografia é opcional e configurável para componentes individuais.

        </p>
        @*<p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>*@
    </div>
</div>
