@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>FishScale é um sistema de monitoração de desempenho que visa se adequar a necessidade do cliente, 
    gerindo relatórios em tempo real ou tempo médio sobre a performance de determinado computador. 
    Nesse âmbito, desenvolvemos uma monitoração acessível remotamente, vinte e quatro horas por dia. 
    Nossa missão é estar presente em todos os computadores do país que se utilizam de um controle de 
    processos rigorosos. </p>
