@model FishScale.Models.Monitoracao
@{
    ViewBag.Title = "Graficos";
}

<h2>Graficos</h2>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    var ramUsada = (@Model.UsedRAM/@Model.TotalRAM)*100;
    var ramLivre = 100 - ramUsada;

    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Livre', ramLivre],
            ['Em Uso', ramUsada]
        ]);

        var options = {
            title: 'Memória Ram'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }


</script>


<div id="piechart" style="width: 700px; height: 300px;"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    var swapUsada = (@Model.UsedHD/@Model.TotalHD)*100;
    var swapLivre = 100 - swapUsada;

    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Livre', swapLivre],
            ['Em uso', swapUsada]
        ]);

        var options = {
            title: 'Memoria Swap',
            pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
    }
</script>
  
    <div id="donutchart" style="width: 700px; height: 300px;"></div>
