@model FishScale.Models.Cliente

@{
    ViewBag.Title = "NomeCliente";
}

<h2>Nome do Cliente</h2>

<form action="Cliente/NomeCliente" method="post">
    <fieldset>
        <legend>NomeCliente</legend>
        <div>
            <label for="NomeCliente">Nome do Cliente</label>
        </div>
        <div>
            <input type="text" value="@Model.Nome" id="NomeCliente" name="NomeCliente" />
        </div>
        <p><input type="submit" value="Enviar" /></p>
    </fieldset>
</form>



